<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<html>
<div class= "jumbotron p-3">
    <div class="well text-center">
    <head>
        <title>Basketball Games</title>
    </head>
    <body>
        <h2>Basketball Games</h2>
        <p>
            {{ team1 }} VS {{ team2 }}
            <br>
            {{ stadium }}
            <br>
            {{ j }}
        </p>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <div class="well text-center">
                    <h2>
                        The Last Four Games And Their Chances
                    </h2>
                    <p>
                        {% for items in all %}
                        The {{ items.team_One }} VS The {{ items.team_Two }}<br>@ {{ items.stadium_One }}<br>With The Visitors Having A {{ items.chance_One }} Percent Chance Of Losing.
                        <br>
                        <br>
                        <br>
                        {% endfor %}
                    </p>
    </body>
</html>
                </div>
            </div>


        </div>


    </div>


</div>