<html>
    <head>
        <title>Basketball Games</title>
    </head>
    <body>
        <h1>Basketball Games</h1>
        <p>
            {{ team1 }} VS {{ team2 }}
            <br>
            {{ stadium }}
            <br>
            {{ j }}
        </p>
        <h2>
            The Last Four Games And Their Chances
        </h2>
        <p>
            {% for items in all %}
            The {{ items.team_One }} VS The {{ items.team_Two }}<br>@ {{ items.stadium_One }}<br>With The Visitors Having A {{ items.chance_One }} Percent Chance Of Losing.
            <br>
            <br>
            <br>
            {% endfor %}
        </p>
    </body>
</html>